body {
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #525252;
}

h1 {
  color:#525252 ;
  text-align: center;
  font-size: 1.7em;
}

h2 {
  color: #EC6C3B;
  text-align: left;
  font-size: 1.4em;
}

h3 {
  color: #EC6C3B;
  text-align: left;
  font-size: 1.2em;
  padding-bottom: 15px;
}

p {
  color: #000000;
  font-size: 1em;
  line-height: 1.5;
  text-align: justify;
}

a {
  color:#EC6C3B;
  text-decoration: none;
}
a:hover {
  color:#EC6C3B;
  text-decoration: underline;
}

/*Modificaciones en el índice*/
.sidebar nav#TOC .toc-title {
  color: #000000 !important;
}

.sidebar nav#TOC {
  position: sticky;        
  top: 100px;  
}

/* Color normal de los items del índice */
.sidebar nav#TOC a {
  color: #000000 !important;
}

/* Color al pasar el mouse */
.sidebar nav#TOC a:hover {
  color: #EC6C3B !important;
}

#quarto-document-content {
  max-width: 800px;
  margin: 0 auto;
}
