body {
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #000000;
}

/* Títulos */
h1, h2, h3 {
  color: #386cb0 !important;
}

h1 {
  text-align: center;
  font-size: 1.7em;
}

h2 {
  text-align: left;
  font-size: 1.4em;
}

h3 {
  text-align: left;
  font-size: 1.2em;
  padding-bottom: 15px;
}

/* Texto */
p {
  color: #000000;
  font-size: 1em;
  line-height: 1.5;
  text-align: justify;
}

/* Links */
a {
  color: #386cb0;
  text-decoration: none;
}

a:hover {
  color: #274b8a;
  text-decoration: underline;
}

/* Índice */
.sidebar nav#TOC .toc-title {
  color: #000000 !important;
}

.sidebar nav#TOC {
  position: sticky;        
  top: 100px;  
}

.sidebar nav#TOC a {
  color: #000000 !important;
}

.sidebar nav#TOC a:hover {
  color: #386cb0 !important;
}